# Generated parameters
executorMemory=2G
executorCoreNum=1
executors=10
driverMemory=4G
# Parameters from ctl
principal=$[principal]
keytabPath=$[keytabPath]
gpKeytab=$[gpKeytab]
gpUser=$[gpUser]
gpJaas=$[gpJaas]
partitionColumn=$[partitionColumn]
queue=$[yarnQueue]
metastore_uri=$[hiveMetastoreUri]
user_name=$[user.name]
# Additional ctl execution parameters
[ctlExecutionConf]
